.container{
    display:grid;
    width: 90vw;
    margin:auto;
    grid-template-columns:33vw 33vw 33vw;
    grid-template-rows: 100px 600px 100px;
    grid-gap: 15px;
    grid-template-areas: 
    "head head head"
    "side cont cont side"
    "foot foot foot";
    border: 7px solid rgb(134, 30, 44);
    justify-content: center;
}

.box{
    display:flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
    border: 4px solid red;
    background: #Fff;
}


.header{
    /* row start/column start/ row end/ column end */
  grid-area: head;
  font-family: Helvetica, sans-serif;
}

.content{
  grid-area: cont;
  font-family: Helvetica, sans-serif;
}

.footer{
  grid-area: foot;
  font-family: Helvetica, sans-serif;
}

.side{

  grid-area: side;
  font-family: Helvetica, sans-serif;
}

.nestedGrid{
    display:grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows:90%;
    grid-gap: 10px;
    border: 5px solid rgb(80, 31, 158);
    justify-content: center;
}

.card {
    width:250px;
    height: 150px;
    border: 2px solid red;
}
